<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Users List</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <h1>All Users</h1>
        </div>
        <div class="row">
            <table class="table">
                <thead class='table-dark'>
                    <tr>
                        <th scope='col'>ID</th>
                        <th scope='col'>Full Name</th>
                        <th scope='col'>Email Address</th>
                        <th scope='col'>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href='/create'>Add a New User</p>
        </div>
    </div>
</body>
</html>